<div class="container intro-container" id="section-about-me">
  <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default:
    "About Me" }}</h3>
  <div class="col-xs-12">
    {%- if site.about_profile_image -%}
    <span class="profile-img no-print"
      style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
    {%- endif -%}
    {{ site.about_content | strip | markdownify }}

    <!-- News Section -->
    {%- if site.news_items and site.news_items.size > 0 -%}
    <div class="news-section">
      <h4 class="news-heading">News</h4>
      <ul class="news-list">
        {%- for news in site.news_items -%}
        <li class="news-item">
          <span class="news-date">{{ news.date }}</span>
          <span class="news-content">{{ news.content | markdownify | strip }}</span>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
    <div class="clearfix"></div>
  </div>
</div>