<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      
      {%- if site.email -%}
        <p>
          <span class="email-title">{{ site.email_title | default: "Email" }}:</span> <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}

      {# ----- 소셜 링크를 이곳으로 옮기고 스타일을 변경했습니다 ----- #}
      <ul class="social-links no-print">
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
        {%- endif -%}
        {%- if site.instagram_username -%}
          <li>
            <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
        {%- endif -%}
        
        {# 사용하시는 다른 소셜 링크가 있다면 여기에 같은 형식으로 추가할 수 있습니다. #}

      </ul>

    </div>
  </div>
</div>